<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

  <!-- Console 화면에 로그를 찍는 console Appender -->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.gdu.movie.logback.MyLogbackLayout" />
    </encoder>
  </appender>
  
  <!-- Application Loggers : com.gdu 패키지는 DEBUG 수준의 로그 레벨을 가진다. -->
  <logger name="com.gdu"             level="DEBUG" />

  <!-- 3rdparty Loggers : 외부 라이브러리는 INFO 수준의 로그 레벨을 가진다. -->
  <logger name="org.springframework" level="INFO" />
  <logger name="org.apache.ibatis"   level="INFO" />
  <logger name="org.mybatis.spring"  level="INFO" />
  <logger name="com.zaxxer.hikari"   level="INFO" />
  <logger name="log4jdbc"            level="INFO" />
  <logger name="jdbc"                level="OFF" />
  <logger name="jdbc.sqlonly"        level="INFO" />  <!-- SQL 출력 -->
  <logger name="jdbc.resultsettable" level="INFO" />  <!-- SELECT 결과를 테이블로 출력 -->

  <!-- Root Logger -->
  <root>
    <appender-ref ref="console" />
  </root>
  
</configuration>