<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

	<!-- Console 화면에 로그를 찍는 console Appender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[%date{HH:mm:ss.SSS, Asia/Seoul}][%-5level][%logger] - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<!-- Application Loggers : com.gdu.app06 패키지는 debug 수준의 로그 레벨을 가진다. -->
	<logger name="com.gdu.app06">
		<level value="debug" />
	</logger>
	
	<!-- 3rdparty Loggers : Spring Framework가 info 수준의 로그 레벨을 가진다. -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>
	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<appender-ref ref="console" />
	</root>
	
</configuration>